/week1/nbproject/private/
/week1/build/
/week1/dist/
/week2/GPIOLEDTest/GPIOLEDTest/nbproject/private/
/week2/GPIOLEDTest/nbproject/private/
/week2/GPIOLEDTest/build/
/week2/GPIOLEDTest/dist/
/week2/GPIOSwitchTest/nbproject/private/
/week2/GPIOSwitchTest/build/
/week2/GPIOSwitchTest/dist/
/week2/MOOCData/nbproject/private/
/week2/MOOCData/build/
/week2/MOOCData/dist/
/week2/DoorProject/nbproject/private/
/week2/DoorProject/build/
/week2/DoorProject/dist/
/week2/TemperatureSensor/nbproject/private/
/week2/TemperatureSensor/build/
/week2/TemperatureSensor/dist/
/week3/GPSDataRecorderTemplate/build/
/week3/GPSDataRecorderTemplate/dist/